<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>THE Foot</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="less/styles.less" />
    <script src="js/less.min.js" type="text/javascript"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">THE Foot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container ">
    <div class="main-content">
        <h1>Do you have a citation?</h1>
        <button class="btn btn-success btn-block citation-yes">Yes</button>
        <button class="btn btn-danger btn-block citation-no">No</button>
    </div>
</div><!-- /.container -->

<script type="foo/bar" id='yes-form'>
    <div class="form">
        <% if (yesOrNo) { %>
        <label for="">Citation #</label>
        <input type="text" class="citation-number form-control"/>
        <% } %>

        <label for="">Driver's License #</label>
        <input type="text" class="drivers-license form-control"/>
        <label for="">Last Name</label>
        <input type="text" class="last-name form-control"/>
        <label for="">Date Of Birth</label>
        <input type="text" class="date-of-birth form-control"/>
        <button class="btn btn-success btn-lg btn-block submit-form">SUBMIT</button>
    </div>
</script>

<script type="foo/bar" id='no-citations'>
    <div class="bg-info server-error">
        <%= message %>
    </div>
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>
<script src="js/main.js"></script>
</body>
</html>