<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>THE Foot</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="less/styles.less" />
    <script src="js/less.min.js" type="text/javascript"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">THE Foot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-links active look-up"><a href="javascript: void 0;">Look Up Citation</a></li>
                <li class="nav-links resources"><a href="javascript: void 0;">Resources</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container ">
    <div class="main-content">
        <div class="form">
            <label for="">Driver's License # <span class="label label-default">OR</span> Citation #</label>
            <input type="text" class="important-number form-control"/>
            <label for="">Last Name</label>
            <input type="text" class="last-name form-control"/>
            <label for="">Date Of Birth</label>
            <input type="text" class="date-of-birth form-control"/>
            <button class="btn btn-success btn-lg btn-block submit-form">SUBMIT</button>
        </div>
    </div>
</div><!-- /.container -->
<script type="foo/bar" id='resources'>
        <h4 class="text-center"><strong>RESOURCES</strong></h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="http://www.dmv.org/mo-missouri/traffic-ticket-faq.php"><strong>Ticket FAQs</strong></a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
            <li class="list-group-item">
                <a href="http://www.dmv.org/mo-missouri/paying-traffic-tickets.php"><strong>How to Pay Fines</strong></a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
            <li class="list-group-item">
                <a href="http://www.dmv.org/mo-missouri/fighting-your-traffic-ticket.php"><strong>Options for Fighting a Ticket</strong></a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
            <li class="list-group-item">
                <a href="http://www.dmv.org/mo-missouri/traffic-ticket-attorneys.php"><strong>Attorney Info</strong></a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Public Transportation</strong>
            </li>
            <li class="list-group-item">
                <a href="http://www.modot.org/services/carpools/CarpoolConnections.htm">Carpool</a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
            <li class="list-group-item">
                <a href="http://www.modot.org/othertransportation/transit/transitlinks.htm">Bus Transportation</a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
            <li class="list-group-item">
                <a href="http://www.modot.org/othertransportation/aviation/aviationlinks.htm">Aviation</a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
            <li class="list-group-item">
                <a href="http://www.modot.org/othertransportation/rail/passenger.htm">Train</a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
            <li class="list-group-item">
                <a href="http://www.modot.org/othertransportation/waterways/waterwaysferrylistings.htm">Ferry Locations</a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
            <li class="list-group-item">
                <a href="http://www.modot.org/othertransportation/bike_ped/Bikepedintro.htm">Bicycle Pedestrain Program</a>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item alternatepayments">
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                <p><a href="javascript: void 0;"<strong>Alternative Forms of Payment</strong></a></p>
                <span>Alternative forms of payment may include community service or payment plans.</span>
            </li>
        </ul>
</script>

<script type="foo/bar" id='alternatepayments'>
<h4 class="text-center"><strong>Complete and Submit to Determine Eligibility:</strong></h4>
<label>Please select your income bracket</label>
<select class="form-control" id="income-bracket">
    <option value="1">$0-$17,500/Year</option>
    <option value="0">$17,501-$30,500/Year</option>
    <option value="0">$30,501-$50,000/Year</option>
    <option value="0">$50,001-greater/Year</option>
    <option value="1">I do not know.</option>
</select>
<label>Please select from the options below</label>
<select class="form-control" id="financial-status">
    <option value="1">I am facing a financial crisis.</option>
    <option value="0">I am not facing a financial crisis but wish to use an alternative form of payment.</option>
    <option value="1">I am not sure if I qualify but wish to use alternate payment options.</option>
</select>
<button type="button" id="gold-fish" class="btn btn-success btn-block btn-lg" style="margin-top: 15px;">Submit</button>

<div id="results"></div>
</div>

</script>
<script type="foo/bar" id='list-citations'>

        <% if (_.where(citations, function (c) {has_warrant: true}).length) { %>
            <div class="warrant-warning scary">THERE IS A WARRANT OUT FOR YOUR ARREST!</div>
            <div class="push"></div>
        <% } %>
        <h4>There are <span><%= citations.length %></span> citations in your name.</h4>
        <% _.each(citations, function(citation) { %>
            <div class="list-group-item citation">
                <p>
                    <strong class="blue">Citation #: </strong>
                    <span><%= citation.citation_number %></span>
                </p>
                <p>
                    <strong class="blue">Citation Date: </strong>
                    <span><%= citation.citation_date %></span>
                </p>
                <p>
                    <strong>Name: </strong>
                    <span><%= citation.first_name + ' ' + citation.last_name %></span>
                </p>
                <p>
                    <strong>DOB: </strong>
                    <span><%= citation.date_of_birth %></span>
                </p>
                <p><strong>Driver's License: </strong><%= citation.drivers_license_number %></p>

                <ol>
                <% _.each(citation.violations, function(violation) { %>
                    <li <% if (violation.status === 'CLOSED' ) { %>class="closed"<% } %>>
                        <p><strong>Violation: </strong><%= violation.violation_description %></p>
                        <p>
                            <% if (violation.status === 'FTA WARRANT ISSUED' ) { %>
                                <strong class="warrant-warning">FTA WARRANT ISSUED</strong>
                            <% } else if (violation.status === 'CLOSED' ) { %>
                                <strong class="safe">CLOSED</strong>
                            <% } else { %>
                                <strong class="payment-warning">UNPAID VIOLATION</strong>
                            <% } %>
                        </p>
                        <% if (violation.status !== 'CLOSED' ) { %>
                            <p><strong>Violation Amount: </strong><span class="pull-right">$<%= violation.fine_amount || 0 %></span></p>
                            <p><strong>Court Cost: </strong><span class="pull-right">$<%= violation.court_cost || 0 %></span></p>
                        <% } %>
                    </li>
                <% }); %>
                </ol>

                <p><strong><span class="orange">Your court date is  </span></strong><%= citation.court_date %></p>
                <p><strong><span class="orange">Location: </span></strong><%= citation.court_location + ', ' + citation.court_address %></p>
                <button class="btn btn-success btn-block citation-pay btn-lg" data-toggle="modal" data-target="#cite_<%= citation.citation_number %>">Pay <strong>$<%= citation.total_owed %></strong> Now</button>
            </div>

            <div class="modal fade" id="cite_<%= citation.citation_number %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Citation <%= citation.citation_number %> Payment Options</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Pay with credit card or ACH bank transfer</h5>
                            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="Check out with PayPal" />
                            <hr/>
                            <h5>Pay with cash</h5>
                            <a href="http://www.dmv.org/mo-missouri/paying-traffic-tickets.php" target="_blank" class="btn btn-success">How to pay in cash</a>
                            <hr/>
                            <h5>Other forms of payment</h5>
                            <button class="btn btn-success alt-pay">Other forms of payment</button>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
</script>

<script type="foo/bar" id='form'>
    <div class="form">
        <label for="">Driver's License #</label>
        <input type="text" class="important-number form-control"/>
        <label for="">Last Name</label>
        <input type="text" class="last-name form-control"/>
        <label for="">Date Of Birth</label>
        <input type="text" class="date-of-birth form-control"/>
        <button class="btn btn-success btn-lg btn-block submit-form">SUBMIT</button>
    </div>
</script>

<script type="foo/bar" id='no-citations'>
    <div class="bg-info server-error">
        <%= message %>
    </div>
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>