.main-content {
    padding-top: 60px;
}
.submit-form {
    margin-top: 15px;
}
.server-error{
    padding: 15px;
}
.blue {
    color:#6083DC
}
.orange {
    color:#E49336
}
/*
padding: 15px; // top, right, bottom, left
padding: 15px 10px; //top/bottom, left/right
paddding: 15px 10px 10px; //top, right/left, bottom
padding: 15px 10px 10px 10px; // top, right, bottom, left
*/
